<div class="login-container">
  <div id="left">
    <p>Welcome to Employee Onboarding System.</p>
  </div>
  <div id="right">
    <div style="width: 70%;">
      <div>
        <h2 style="text-align: center; font-size: xx-large;">EOS</h2>
        <h4 style="text-align: start; font-weight: 500; font-size: 1.1em;">Sign in</h4>
      </div>

      <!-- Login form -->
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Username Field -->
          <div>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password Field -->
          <div>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide() ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
                type="button"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="loginForm.get('password')?.hasError('required')"
              >
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Forgot pass -->
          <div style="margin-bottom: 2em;">
            <a id="forget" href="/#"
              >Forgot Password?</a
            >
          </div>

          <!-- Login Button -->
          <div>
            <button mat-button type="submit" id="login-button">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
