<div class="login-container">
  <div id="left">
    <p>Welcome to Employee Onboarding System.</p>
  </div>
  <div id="right">
    <div style="width: 70%">
      <div>
        <div class="header-container">
          <span class="circle"></span>
          <h2>EOS</h2>
        </div>

        <!-- Message -->
        <div
          role="alert"
          aria-live="assertive"
          *ngIf="message"
          [ngClass]="{
            'success-message': isSuccess,
            'error-message': !isSuccess
          }"
          style="
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
          "
        >
          {{ message }}
        </div>

        <h4 class="sign-in" id="signInHeader">Sign in</h4>
      </div>

      <!-- Login form -->
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" aria-labelledby="signInHeader">
          <!-- Username Field -->
          <div>
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" autocomplete="email" />
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password Field -->
          <div>
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide() ? 'password' : 'text'"
                formControlName="password"
                autocomplete="current-password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="hide() ? 'Show password' : 'Hide password'"
                [attr.aria-pressed]="hide()"
                type="button"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="loginForm.get('password')?.hasError('required')"
              >
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Forgot pass -->
          <div style="margin-bottom: 2em">
            <a id="forget" href="/#">Forgot Password?</a>
          </div>

          <!-- Login Button -->
          <div>
            <button mat-button type="submit" id="login-button">
              <span *ngIf="!loading">Sign in</span>
              <div class="container" *ngIf="loading">
                <div class="dot"></div>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
