@if(!isAdmin()){
<div>
  <h3>
    Hi, welcome back! {{ calculateCompletionPercentage() }}% of your profile is
    complete
  </h3>
  <ul class="checklist-items">
    <li *ngFor="let itemKey of getKeys(onboardingStatus[loggedInUserEmail])">
      <span
        >{{ itemKey }}
        @if(!onboardingStatus[loggedInUserEmail][itemKey]){
        <button mat-button type="submit">Submit</button>}
        @if(onboardingStatus[loggedInUserEmail][itemKey]){<mat-icon
          >done</mat-icon
        >
        }
      </span>
    </li>
  </ul>
</div>
}
