@if(!isAdmin()){
<div>
  <h3>
    Hi, welcome back! {{ calculateCompletionPercentage() }}% of your profile is
    complete
  </h3>
  <ul class="checklist-items">
    <li *ngFor="let itemKey of getKeys(onboardingStatus[loggedInUserEmail])">
      <span
        >{{ itemKey }}
        @if(!onboardingStatus[loggedInUserEmail][itemKey]){
        <button mat-button type="submit" (click)="openSubmitDialog(itemKey)">
          @if(!loading[itemKey]){
          <span>Submit</span>
          } @if(loading[itemKey]){
          <div class="container">
            <div class="dot" style="background-color: black"></div>
          </div>
          }</button
        >} @if(onboardingStatus[loggedInUserEmail][itemKey]){<mat-icon
          >done</mat-icon
        >
        }
      </span>
    </li>
  </ul>
</div>
}
