<div class="profile-container" role="region" aria-labelledby="employee-name">
  <div class="profile-info">
    <!-- Basic Info -->
    <div class="name-container">
      <div class="icon">
        <i class="ri-user-fill" arial-hidden="true"></i>
      </div>
      <div>
        <h5 id="employee-name">{{ employee?.name }}</h5>
        <p>{{ employee?.role }}</p>
      </div>
    </div>

    <!-- Employee Details Grid -->
    <div class="card-container">
      <div class="card">
        <p style="margin: 0"><strong>ID:</strong> {{ employee?.id }}</p>
      </div>
      <div class="card">
        <p style="margin: 0"><strong>Email:</strong> {{ employee?.email }}</p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Phone:</strong> {{ employee?.phoneNumber }}
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Department:</strong> {{ employee?.department }}
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Start Date:</strong> {{ employee?.startDate }}
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Status:</strong>
          <span style="color: green">{{ employee?.status }}</span>
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Created:</strong> {{ employee?.createdDate }}
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Last Login:</strong> {{ employee?.lastLogin }}
        </p>
      </div>
      <div class="card">
        <p style="margin: 0">
          <strong>Last Password Change:</strong>
          {{ employee?.lastPasswordChange }}
        </p>
      </div>
    </div>

    <!-- employeeOnboardingStatus -->
    <div class="employee-status">
      <ul class="status-list">
        <li
          *ngFor="let key of getKeys(employeeOnboardingStatus)"
          class="status-item"
        >
          {{ key }} -
          <ng-container *ngIf="employeeOnboardingStatus[key]; else pending">
            <mat-icon class="status-tick">done</mat-icon>
          </ng-container>
          <ng-template #pending>
            <span class="status-pending">Pending</span>
          </ng-template>
        </li>
      </ul>
      <p *ngIf="calculateCompletionPercentage() < 100" class="reminder-message">
        Profile is {{ calculateCompletionPercentage() }}% complete.
        <a href="#send-reminder">Send reminder?</a>
      </p>
    </div>
  </div>
</div>
