<div class="employee-container" role="main">
  <div class="top-content">
    <h4>
      Employees
      <i class="ri-user-2-fill" aria-hidden="true"></i>
    </h4>

    <div class="top-right-content">
      <div>
        @if (searchClicked) {
        <mat-form-field appearance="outline">
          <mat-label>Search...</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter search text"
            (input)="applyFilter($event.target)"
          /> </mat-form-field
        >} @if (!searchClicked) {
        <i
          class="ri-search-2-line"
          (click)="searchClicked = true"
          (keydown.enter)="searchClicked = true"
          role="button"
          tabindex="0"
          aria-label="Open search"
        ></i>
        }
      </div>

      <button mat-button type="submit" (click)="openAddEmployeeDialog()">
        Add Employee
      </button>
    </div>
  </div>
  @if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <table mat-table [dataSource]="dataSource" matSort class="table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Email"
      >
        Email
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Phone Number"
      >
        Phone Number
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.phoneNumber }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Department"
      >
        Department
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.department }}</td>
    </ng-container>

    <!-- Role Balance Column -->
    <ng-container matColumnDef="role">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort Role"
      >
        Role
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.role }}</td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Start Date"
      >
        Start Date
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.startDate }}</td>
    </ng-container>

    <!-- Status at Column -->
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Status"
      >
        Status
      </th>
      <td
        mat-cell
        *matCellDef="let employee"
        [ngStyle]="{
          color:
            employee.status === 'Created'
              ? 'green'
              : employee.status === 'Onboarding'
              ? 'red'
              : 'inherit'
        }"
      >
        {{ employee.status }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let employee">
        <div style="display: flex; gap: 7px; align-items: center">
          <!-- More Button -->
          <button
            mat-icon-button
            class="table-icons"
            [matMenuTriggerFor]="moreMenu"
            aria-label="Show employee options"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>

        <!-- Popup Menu -->
        <mat-menu #moreMenu="matMenu">
          <!-- View Button -->
          <button
            mat-menu-item
            style="color: rgba(30, 144, 255, 0.7)"
            (click)="goToEmployeeProfile(employee.id, employee.name)"
          >
            <mat-icon style="color: rgba(30, 144, 255, 0.7)"
              >visibility</mat-icon
            >
            <span style="margin-left: 8px">View</span>
          </button>

          <!-- Delete Button -->
          <button
            mat-menu-item
            style="color: rgba(220, 20, 60, 0.7)"
            (click)="
              openDeleteEmployeeDialog(
                employee.id,
                employee.name,
                employee.email
              )
            "
          >
            <mat-icon style="color: rgba(220, 20, 60, 0.7)">delete</mat-icon>
            <span style="margin-left: 8px">Delete</span>
          </button>

          <!-- Edit Button -->
          <button
            mat-menu-item
            style="color: rgba(34, 139, 34, 0.7)"
            (click)="goToEditEmployee(employee.email)"
          >
            <mat-icon style="color: rgba(34, 139, 34, 0.7)">edit</mat-icon>
            <span style="margin-left: 8px">Edit</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Table Header -->
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'name',
        'email',
        'phoneNumber',
        'department',
        'role',
        'startDate',
        'status',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'name',
          'email',
          'phoneNumber',
          'department',
          'role',
          'startDate',
          'status',
          'actions'
        ]
      "
    ></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of employees"
  >
  </mat-paginator>
</div>
