.submit-btn {
  color: black;
  font-weight: 700;
  padding: 10px 20px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  &:hover {
    background-color: rgb(212, 212, 212);
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
  }
}

.cancel-btn {
  color: red;
}

$primary-color: #3498db;
$success-color: #2ecc71;
$error-color: #e74c3c;
$text-color: #333;
$border-color: #ddd;

.qualification-container {
  padding: 20px;
  font-family: "Arial", sans-serif;

  h5 {
    color: black;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 5px;
    label {
      margin-bottom: 6px;
      font-size: 14px;
      color: $text-color;
    }

    input,
    select {
      width: 100%;
      padding: 8px 12px;
      border: 1px solid;
      border-radius: 4px;
      font-size: 14px;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }

      &.ng-invalid.ng-touched {
        border-color: $error-color;
      }
    }

    .error-message {
      color: $error-color;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  .file-upload {
    display: flex;
    align-items: center;
    position: relative;

    .file-upload-label {
      padding: 8px 12px;
      background-color: $primary-color;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    .file-name {
      margin-left: 10px;
      font-size: 14px;
      color: lighten($text-color, 20%);
    }

    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: lighten($primary-color, 20%);
      cursor: not-allowed;
    }
  }

  .success-message {
    padding: 15px;
    background-color: lighten($success-color, 40%);
    color: darken($success-color, 20%);
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
  }
}
