<div id="dashboad-wrapper">
  <div class="navbar-container" role="navigation">
    <div class="left-group">
      <div class="header-container">
        <span class="circle"></span>
        <h2>EOS</h2>
      </div>

      <!-- Search -->
      <div class="search-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter Search text</mat-label>
          <input matInput placeholder="Search..." />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="right-group">
      <!-- Notifications button -->
      <button
        mat-icon-button
        color="primary"
        aria-label="Notifications"
        class="notification-button"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon
          [matBadge]="notifications.length"
          matBadgeOverlap="false"
          class="no-badge-background"
          aria-hidden="true"
        >
          notifications
        </mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let notification of notifications"
          (click)="markAsRead(notification.id)"
        >
          {{ notification.message }}
        </button>
      </mat-menu>
      <!-- Logout button -->
      <button
        mat-button
        color="primary"
        class="logout-button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>

  <!-- SideNav -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="sidenav"
      [mode]="'side'"
      [style.width]="isExpanded ? '210px' : '60px'"
      [opened]="true"
      (click)="toggleSidenav()"
      role="navigation"
      aria-label="Side Navigation"
    >
      <div
        class="sidenav-content"
        (click)="toggleSidenav()"
        role="button"
        tabindex="0"
        (keydown.enter)="toggleSidenav()"
        (keydown.space)="toggleSidenav()"
      >
        <button
          mat-button
          class="sidenav-button"
          [ngClass]="{ active: isActive('/dashboard/admin-home') }"
          *ngIf="isAdmin()"
          (click)="goHome()"
        >
          <i class="ri-home-9-line icon" aria-hidden="true"></i>
          <h4 *ngIf="isExpanded">Home</h4>
        </button>

        <button
          mat-button
          class="sidenav-button"
          [ngClass]="{ active: isActive('/dashboard/home') }"
          *ngIf="!isAdmin()"
          (click)="goHome()"
        >
          <i class="ri-home-9-line icon" aria-hidden="true"></i>
          <h4 *ngIf="isExpanded">Home</h4>
        </button>

        <button
          mat-button
          class="sidenav-button"
          [ngClass]="{ active: isActive('/dashboard/checklists') }"
          *ngIf="isAdmin()"
          (click)="goToChecklists()"
        >
          <i class="ri-check-double-line icon" aria-hidden="true"></i>
          <h4 *ngIf="isExpanded">Checklists</h4>
        </button>

        <button
          mat-button
          class="sidenav-button"
          *ngIf="!isExpanded"
          (click)="isExpanded = true"
        >
          <i class="ri-settings-4-line icon" aria-hidden="true"></i>
          <h4 *ngIf="isExpanded">Settings</h4>
        </button>

        <mat-accordion class="sidenav-button" *ngIf="isExpanded">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="ri-settings-4-line icon"></i>
                <h4>Settings</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li><i class="ri-moon-fill" aria-hidden="true"></i>Dark theme</li>
              <li
                role="button"
                tabindex="0"
                (click)="openAddChangePassDialog()"
                (keydown.enter)="openAddChangePassDialog()"
                (keydown.space)="openAddChangePassDialog()"
              >
                <i class="ri-lock-2-fill" aria-hidden="true"></i>Change Pass
              </li>
              <li
                role="button"
                tabindex="0"
                [ngClass]="{ active: isActive('/dashboard/view-profile') }"
                (click)="goToViewProfile()"
                (keydown.enter)="goToViewProfile()"
                (keydown.space)="goToViewProfile()"
              >
                <i class="ri-user-2-fill" aria-hidden="true"></i>View profile
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <button mat-button (click)="logout()" class="sidenav-button">
          <i class="ri-logout-box-r-line icon" aria-hidden="true"></i>
          <h4 *ngIf="isExpanded">Logout</h4>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content
      [style.marginLeft]="isExpanded ? '200px' : '50px'"
      class="main-content"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
