<div id="dashboad-wrapper">
  <div class="navbar-container">
    <div class="left-group">
      <div class="header-container">
        <span class="circle"></span>
        <h2>EOS</h2>
      </div>

      <!-- Search -->
      <div class="search-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter Search text</mat-label>
          <input matInput placeholder="Search..." />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="right-group">
      <!-- Notifications button -->
      <button
        mat-icon-button
        color="primary"
        aria-label="Notifications"
        class="notification-button"
      >
        <mat-icon
          matBadge="8"
          matBadgeOverlap="false"
          class="no-badge-background"
          aria-hidden="false"
        >
          notifications
        </mat-icon>
      </button>
      <!-- Logout button -->
      <button
        mat-button
        color="primary"
        class="logout-button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>

  <!-- SideNav -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="sidenav"
      [mode]="'side'"
      [style.width]="isExpanded ? '210px' : '60px'"
      [opened]="true"
      (click)="toggleSidenav()"
    >
      <div class="sidenav-content" (click)="toggleSidenav()">
        <button
          mat-button
          class="sidenav-button"
          [ngClass]="{ active: isActive('/dashboard') }"
          *ngIf="isAdmin()"
          (click)="goHome()"
        >
          <i class="ri-home-9-line icon"></i>
          <h4 *ngIf="isExpanded">Home</h4>
        </button>

        <mat-accordion class="sidenav-button">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="ri-settings-4-line icon"></i>
                <h4>Settings</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li><i class="ri-moon-fill"></i>Dark theme</li>
              <li><i class="ri-lock-2-fill"></i>Change Pass</li>
              <li><i class="ri-user-2-fill"></i>View profile</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <button mat-button (click)="logout()" class="sidenav-button">
          <i class="ri-logout-box-r-line icon"></i>
          <h4 *ngIf="isExpanded">Logout</h4>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content
      [style.marginLeft]="isExpanded ? '200px' : '50px'"
      class="main-content"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
